<ion-content>
    <ion-toolbar>
        <ion-title style="text-align: center">
          Perfil
        </ion-title>
      </ion-toolbar>

    
    <ion-avatar style="margin-left: 45%;">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <br>
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sobrenome</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Data de Nascimento</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-text style="margin-left: 30%;">Deseja trocar a imagem?</ion-text>
    <br>
    <ion-chip style="margin-left: 40%;">
      <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>Chip Avatar</ion-label>
    </ion-chip>
    

</ion-content>
